body {
  overflow-x:hidden;
}
.cover {
  height: 400px;
}
.cover p {
  position: center;
  font-family: "Montserrat";
  font-weight: bold;
  margin-top: 250px;
  font-size: 72px;
  line-height: 160%;
  position: relative;
	-webkit-animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
.cover p span {
  color: red;
}
.cover p {
  -webkit-animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
        animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.text h2 {
  font-size: 32px;
  margin-bottom: 16px;
  animation-duration: 2.2s;
  animation-name: slidein;
  font-family: 'Montserrat', sans-serif;
  text-decoration: underline;
  text-decoration-color: red;
}

.text h2:hover {
  animation: swingVertical 1s ease;
  animation-iteration-count: 1;
}

@keyframes swingVertical {
  15% {
    transform: translateY(6px);
  }

  30% {
    transform: translateY(-6px);
  }

  50% {
    transform: translateY(4px);
  }

  65% {
    transform: translateY(-2px);
  }

  80% {
    transform: translateY(2px);
  }

  100% {
    transform: translateY(0);
  }
}

.text p {
  line-height: 160%;
  margin-bottom: 50px;
}
.tone {
  float: left;
  margin-right: 200px;
  font-family:"Montserrat";
  font-weight:bold;
  font-size: 20px;
}
.concept {
  margin-top: 20px;
  margin-bottom: 80px;
  font-size: 36px;
  font-family:"Montserrat";
  font-weight:bold;
}
.concept span {
  position: relative;
}


.footer {
  margin-left: -400px;
  width: 1920px;
  height: 75px;
  background-color: red;
  color: white;
  text-align: center;
}
.footer p {
  font-size: 11px;
  display: inline-block;
  text-align: center;
  margin-top: 30px;
}
